# Dependencies
node_modules/
package-lock.json

# Production builds
dist/
.vite/
*.log

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS files
.DS_Store
Thumbs.db
desktop.ini
